:host {
    display: block;
    height: inherit;
}

.mat-sidenav-container
{
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 0px;
}

.mat-sidenav-content
{
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}