:host {
    height: 64px;
}

.spacer
{
    width: 100%;
}

.twitch-login
{
    color: #673ab7;
    display: inline-flex;
    align-items: center;
}

.twitch-logo
{
    height: 40px;
    width: 40px;
}